# DkCoder build artifacts
/_build/
/#s/
/dune-project

# Opam and conventional OCaml development
/_opam/
/src/*/dune

# vim
*.swp

# vscode
/.vscode/settings-local.json

# scratch space
/scratch/

# Provisioning
/.ci/local/share/android-studio/
/.ci/local/share/Android Studio.app/

# Qt
/aqtinstall.log

# codesigning. Only /sign-audit/ should be in git
/sign/
