<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSCameraUsageDescription</key>
		<string>Sonic Scout uses the camera to scan QR codes displayed by Sonic Scout frontends like the Sonic Scout Android application. The QR codes contain scouting information for robotics competitions.</string>
	</dict>
</plist>